{% extends 'base.html.twig' %}

{% block title %}
    Politique de Confidentialité
{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto py-8 px-4 sm:h-screen">
    <h1 class="text-3xl font-bold mb-6 text-[#804C62]">Politique de Confidentialité</h1>

    <p class="mb-4 ml-5">
        Votre vie privée est importante pour nous. Cette politique de confidentialité explique quelles informations personnelles nous collectons et comment nous les utilisons.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-[#804C62]">Informations que nous collectons</h2>
    <p class="mb-4 ml-5">
        Nous collectons les informations suivantes :
    </p>
    <ul class="list-disc list-inside mb-4 ml-5">
        <li>Nom</li>
        <li>Prénom</li>
        <li>Email</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4 text-[#804C62]">Utilisation des informations</h2>
    <p class="mb-4 ml-5">
        Les informations que nous collectons sont utilisées pour les finalités suivantes :
    </p>
    <ul class="list-disc list-inside mb-4 ml-5">
        <li>Gestion des commandes</li>
        <li>Communication avec les clients</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-4 text-[#804C62]">Sécurité des données</h2>
    <p class="mb-4 ml-5">
        Nous mettons en œuvre des mesures de sécurité pour protéger vos informations personnelles. Les données sont stockées de manière sécurisée et accessibles uniquement aux personnes autorisées.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-[#804C62]">Vos droits</h2>
    <p class="mb-4 ml-5">
        Conformément au RGPD, vous avez les droits suivants concernant vos données personnelles :
    </p>
    <ul class="list-disc list-inside mb-4 ml-5">
        <li>Droit d'accès</li>
        <li>Droit de rectification</li>
        <li>Droit à l'effacement</li>
        <li>Droit à la portabilité</li>
        <li>Droit d'opposition</li>
    </ul>
    <p class="mb-4 ml-5">
        Pour exercer ces droits, vous pouvez nous contacter à l'adresse suivante : <strong>goutmecha@gmail.com</strong>.
    </p>

    <h2 class="text-2xl font-semibold mb-4 text-[#804C62]">Contact</h2>
    <p class="mb-4 ml-5">
        Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter à l'adresse suivante : <strong>goutmecha@gmail.com</strong>.
    </p>
</div>
{% endblock %}
