{% extends 'admin/base.html.twig' %}

{% block title %}
	- Commandes
{% endblock %}

{% block body %}
	<h1 class="text-center my-3 text-2xl font-sans underline text-slatea-800">Mes commandes</h1>
		<div class="" {{ vue_component('admin/orders/table', {'apiToken' : api_token}) }}></div>
{% endblock %}
