{% macro navigation(routes, lastLabel) %}
    <div class="my-4">
        {% for route in routes %}
            <a class="hover:text-[#804C62]" href="{{ path(route.route, route.slug is defined ? {'slug': route.slug} : {}) }}">
                {{ route.label }}
            </a>
            {% if not loop.last %}
                <span>></span>
            {% endif %}
        {% endfor %}
        {% if lastLabel is defined and lastLabel is not null %}
            <span>></span>
            <span class="underline">{{lastLabel}}</span>
        {% endif %}
    </div>
{% endmacro %}