{% extends 'base.html.twig' %}

{% block title %} - Commander{% endblock %}

{% block body %}
    <h1 class="text-center text-2xl my-10">Commande : Choisir vos produits</h1>
    <div class="flex h-fit py-3">
       <div class="w-full" {{ vue_component('orders/productsForm', { 'orderUuid': orderUuid,  'prefetchOrderItem' : orderItems }) }}></div>
    </div>
{% endblock %}
